<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SkyCast Web App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="chart.css"/>
    <link rel="stylesheet" href="nav.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>

</head>
<body style="padding:60px">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <text class="navbar-text" th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]</text>
        <a href="/home">
            <button type="button" class="btn btn-default navbar-btn">Home</button>
        </a>
        <a href="/history">
            <button type="button" class="btn btn-default navbar-btn">History</button>
        </a>
        <form class="navbar-right mobileNav pull-right" action="#" th:action="@{/logout}" method="post">
            <a href="/">
                <button type="submit" class="btn btn-default">Logout</button>
            </a>
        </form>
    </div>
</nav>
<div class="container mx-auto">
    <p>
    <h1 class="text-center">Forecast for <code th:text="${query}"></code> on <code th:text="${queryDate}"></code>
    </h1></p>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="text-center">Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result : ${geoCodingResponse.getResults()}">
            <td class="text-center" th:text="${result.getFormatted_address()}"></td>
        </tr>
        </tbody>
    </table>
    <h2 class="text-center">Today's Forecast</h2>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Time</th>
            <th>Summary</th>
            <th>Temperature Low (°F)</th>
            <th>Temperature High (°F)</th>
            <th>Apparent Temperature Low (°F)</th>
            <th>Apparent Temperature High (°F)</th>
            <th>Humidity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data : ${darkSkyResponse.getDaily().getData()}">
            <td th:text="${data.getSimpleTime()}"></td>
            <td th:text="${data.getSummary()}"></td>
            <td th:text="${data.getTemperatureMin()}"></td>
            <td th:text="${data.getTemperatureMax()}"></td>
            <td th:text="${data.getApparentTemperatureMin()}"></td>
            <td th:text="${data.getApparentTemperatureMax()}"></td>
            <td th:text="${data.getHumidity()}"></td>
        </tr>
        </tbody>
    </table>
        <canvas id="myChart"></canvas>
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var x = [[${x}]];
        var y = [[${y}]];
        var yapp = [[${yapp}]];
        var q = [[${query}]];
        var d = [[${queryDate}]];
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: x,
                datasets: [{
                    label: 'Temperature',
                    data: y,
                    fill: false,
                    borderColor: "#c8e99a"
                }, {
                    label: 'Apparent Temperature',
                    data: yapp,
                    fill: false,
                    borderColor: "#e5a68c"
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Hourly Forecast for '+q+' on '+d
                },
                elements: {
                    line: {
                        tension: 0
                    }
                }
            }
        });
        /*]]>*/

        </script>
    <h2 class="text-center">Hourly Forecast</h2>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="text-center">Summary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center" th:text="${darkSkyResponse.getHourly().getSummary()}"></td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Time</th>
            <th>Summary</th>
            <th>Temperature (°F)</th>
            <th>Apparent Temperature (°F)</th>
            <th>Humidity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data : ${darkSkyResponse.getHourly().getData()}">
            <td th:text="${data.getSimpleTime()}"></td>
            <td th:text="${data.getSummary()}"></td>
            <td th:text="${data.getTemperature()}"></td>
            <td th:text="${data.getApparentTemperature()}"></td>
            <td th:text="${data.getHumidity()}"></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4 text-center"></div>
        <div class="col-md-4 text-center">
            <a href="/home"><input class="btn btn-default" type="button" value="Back"/></a>
        </div>
    </div>
</div>
</body>
</html>